<div class="col-3">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
            <RoomUsers />
        </div>
        <div class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti amet asperiores fugit commodi aliquid
            nihil
            atque magnam! Facere, reiciendis officiis?
        </div>
        <div class="card-footer text-end">
            @if (AlreadyJoined)
            {
                <button class="btn btn-sm btn-outline-danger">Ayrıl</button>
                <button class="btn btn-sm btn-primary">Git</button>
            }
            else
            {
                <button class="btn btn-sm btn-success">Katıl</button>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public bool AlreadyJoined { get; set; }
}