@using Application.Mediator.Queries.Room.GetRooms

<div class="col-3">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h5 class="card-title">@Data?.Title</h5>
            <RoomUsers Count="Data?.UserCount"/>
        </div>
        <div class="card-body">@Data?.Description</div>
        <div class="card-footer text-end">
            @if (Data.AlreadyJoined)
            {
                <button class="btn btn-sm btn-outline-danger">Ayrıl</button>
                <button class="btn btn-sm btn-primary">Git</button>
            }
            else
            {
                <button class="btn btn-sm btn-success">Katıl</button>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public GetRoomsViewModel?  Data { get; set; }
}