<heander class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold d-flex align-items-center gap-1" href="/">
            <img src="/blazorchatroom.png" alt="site logo" class="img-fluid" width="35">
            Blazor Chat Room
        </a>
        <div class="navbar-nav">
            <NavLink href="/chat" ActiveClass="active" class="nav-link">Mesajlar</NavLink>
        </div>
        <div>
            <AuthorizeView>
                <Authorized>
                    <a href="/logout" class="btn btn-sm btn-danger">Çıkış yap</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/register" class="btn btn-sm btn-outline-danger">Kayıt ol</a>
                    <a href="/login" class="btn btn-sm btn-outline-primary">Giriş yap</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</heander>