<heander class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold d-flex align-items-center gap-1" href="/">
            <img src="/blazorchatroom.png" alt="site logo" class="img-fluid" width="35">
            Blazor Chat Room
        </a>
        <div class="navbar-nav">
            <NavLink href="/chat" ActiveClass="active" class="nav-link">Mesajlar</NavLink>
        </div>
        <div>
            <a href="/login" class="btn btn-sm btn-outline-primary">Giriş yap</a>
        </div>
    </div>
</heander>