<div class="bg-light p-3 shadow-sm">
    <h6>Kullanıcılar <span class="badge bg-success">10</span></h6>
</div>
<ul class="chat-users px-3 py-2">
    @for (int i = 1; i <= 10; i++)
    {
        <li class="chat-users-user">
            <span class="chat-users-username">User@(i)<span class="chat-user-status"></span></span>
        </li>
    }
</ul>